<ion-card>
  <ion-card-header color="roxo">
    <ion-card-title>{{ titulo }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <ion-list>
        <ion-reorder-group (ionItemReorder)="reordenacao($event)" disabled="false">
          <ion-item *ngFor="let item of tasks">
            <!--<ion-thumbnail slot="start">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              />
            </ion-thumbnail>-->
            <ion-label>
              <h2>{{ item.titulo }}</h2>
              <p>{{ item.descricao }}</p>
            </ion-label>
            <ion-button size="" color="roxo" fill="clear" slot="end" (click)="irPaginaTarefas(item)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button size="" color="danger" fill="clear" slot="end" (click)="eliminarTarefa(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
  </ion-card-content>
</ion-card>