<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" color="roxo" name="home"></ion-icon>
      <ion-label color="roxo">Página Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias" href="/tabs/categorias">
      <ion-icon aria-hidden="true" color="roxo" name="list"></ion-icon>
      <ion-label color="roxo">Projetos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" color="roxo" name="calendar"></ion-icon>
      <ion-label color="roxo">Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" color="roxo" name="notifications"></ion-icon>
      <ion-label color="roxo">notificações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>