<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ tarefa?.titulo || 'Tarefa' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="abrirOpcoesTarefa(); $event.stopPropagation()"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tarefa">

  <!-- Imagem da tarefa -->
  <ion-card class="tarefa-img-card">
    <ion-img [src]="tarefa.imagemUrl" alt="Imagem da tarefa"></ion-img>
  </ion-card>

  <!-- Título -->
  <ion-item lines="full">
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="tarefa.titulo" readonly="true"></ion-input>
  </ion-item>

  <!-- Data + Hora -->
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-item lines="full">
          <ion-label position="stacked">Data</ion-label>
          <ion-input [value]="tarefa.dataData" readonly="true"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="full">
          <ion-label position="stacked">Hora</ion-label>
          <ion-input [value]="tarefa.dataHora" readonly="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Descrição -->
  <ion-item lines="full">
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea
      auto-grow="true"
      [(ngModel)]="tarefa.descricao"
      readonly="true">
    </ion-textarea>
  </ion-item>

  <!-- Categoria -->
  <ion-item lines="full">
    <ion-label position="stacked">Categoria</ion-label>
    <ion-select [value]="tarefa.categoria" interface="popover" disabled="true">
      <ion-select-option [value]="tarefa.categoria">
        {{ tarefa.categoria }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Estado -->
  <ion-item lines="full">
    <ion-label position="stacked">Estado</ion-label>
    <ion-select [value]="tarefa.estado" interface="popover" disabled="true">
      <ion-select-option value="por-fazer">Por fazer</ion-select-option>
      <ion-select-option value="feito">Feito</ion-select-option>
      <ion-select-option value="atrasada">Atrasada</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
