<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-searchbar placeholder="Filtrar projetos" (ionInput)="filtrarProjetos($event)">
    </ion-searchbar>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let proj of projetos" class="projeto-item" button (click)="abrirDetalhe(proj)">
      <ion-label>
        <h2>{{ proj.nome }}</h2>
        <p>{{ proj.descricao }}</p>
        <p>{{ proj.totalTarefas }} Tarefa(s)</p>
      </ion-label>

      <div slot="end" class="end-wrapper" (click)="$event.stopPropagation()">
        <ion-badge *ngIf="proj.estado === 'por-fazer'" color="azul">
          Por fazer
        </ion-badge>
        <ion-badge *ngIf="proj.estado === 'feito'" color="success">
          Feito
        </ion-badge>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="roxo" (click)="abrirNovoProjeto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
    [isOpen]="isModalProjetoAberto"
    (didDismiss)="fecharNovoProjeto()"
    class="sheet-modal projeto-modal"
    [breakpoints]="[0, 0.9, 1]"
    [initialBreakpoint]="0.9">
    <ng-template>
      <ion-header translucent>
        <ion-toolbar color="roxo">
          <ion-title>
            {{ projetoEmEdicao ? 'Editar projeto' : 'Novo projeto' }}
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="fecharNovoProjeto()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="projeto-modal-content">
        <form [formGroup]="formProjeto" (ngSubmit)="guardarProjeto()">

          <ion-item lines="none">
            <ion-label position="stacked">Título</ion-label>
            <ion-input placeholder="Ex: Estudar X" formControlName="nome">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="formProjeto.get('nome')?.invalid && formProjeto.get('nome')?.touched">
            <small>Título é obrigatório.</small>
          </ion-text>

          <ion-item lines="none">
            <ion-label position="stacked">Descrição</ion-label>
            <ion-textarea autoGrow="true" placeholder="Escreve aqui os detalhes do projeto..." formControlName="descricao">
            </ion-textarea>
          </ion-item>
          <ion-text color="danger" *ngIf="formProjeto.get('descricao')?.invalid && formProjeto.get('descricao')?.touched">
            <small>Descrição é obrigatória.</small>
          </ion-text>

          <ion-item lines="none" disabled="true">
            <ion-label>
              <h2>Categoria</h2>
              <p>{{ titulo }}</p>
            </ion-label>
          </ion-item>

          <ion-button expand="block" color="roxo" class="btn-guardar-projeto" type="submit" [disabled]="formProjeto.invalid">
            {{ projetoEmEdicao ? 'Guardar alterações' : 'Criar projeto' }}
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
