<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="cal-wrapper">
    <!-- Calendário mensal com números -->
    <ion-datetime
      presentation="date"
      [showDefaultButtons]="false"
      showDefaultTitle="false"
      showDefaultTimeLabel="false"
      firstDayOfWeek="1"
      locale="pt-PT">
    </ion-datetime>

    <div class="tasks-wrapper">
      <ion-item lines="none">
        <ion-label>
          <h2>Hoje</h2>
          <p>{{ tarefasHoje.length }} tarefa(s)</p>
        </ion-label>
      </ion-item>

      <ion-list lines="none">
        <app-cartoes-tarefas
          *ngFor="let tarefa of tarefasHoje"
          [tarefa]="tarefa">
        </app-cartoes-tarefas>
      </ion-list>
    </div>
  </div>

</ion-content>

