<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <img src="assets/img/logo_TaskBuddy.png" class="logo">
    </ion-buttons>
    <ion-title>Bem-vindo ao TaskBuddy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <h1>As minhas tarefas</h1>
    </ion-label>

    <ion-button fill="clear" color="roxo" (click)="isModalAberto = true">
      <ion-icon size="large" name="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-modal
      [isOpen]="isModalAberto"
      (didDismiss)="onModalDismiss($event)"
      class="sheet-modal"
      [breakpoints]="[0, 1]"
      [initialBreakpoint]="1"
    >
      <ng-template>
        <app-nova-tarefa
          (fecharModal)="onNovaTarefaFechar($event)">
        </app-nova-tarefa>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-segment [(ngModel)]="filtro">
    <ion-segment-button value="hoje">
      <ion-label>Hoje</ion-label>
    </ion-segment-button>
    <ion-segment-button value="proximas">
      <ion-label>Próximas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="concluidas">
      <ion-label>Concluídas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="atrasadas">
      <ion-label>Atrasadas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngFor="let tarefa of tarefas">
    <app-cartoes-tarefas
      *ngIf="tarefa.tipo === filtro"
      [tarefa]="tarefa"
      (abrirDetalhes)="abrirDetalhesTarefas($event)">
    </app-cartoes-tarefas>
  </ng-container>
</ion-content>
