#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.logo {
  height: 50px;
  display: block;
  margin: 0 auto;
}

.sheet-modal {
  --height: 70%;
  --border-radius: 16px 16px 0 0;
  align-items: flex-end; // faz aparecer de baixo
}

.btn-criar {
  margin-top: 16px;
}
