<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      As Minhas tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">As Minhas tarefas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-button color="roxo" (click)="irPaginaListas()">Ir para Listas</ion-button>
    
    <!--<ion-button color="roxo" (click)="irPaginaTarefas()">Ir para Tarefas</ion-button>-->

  </div>
</ion-content>
